.content {
  padding: 5%;
  font-family: "Times New Roman", Times, serif;
}

.title {
  font-size: 200%;
  text-align: center;
  font-weight: 900;
}

.section {
  font-size: 120%;
  text-align: center;
}

.small_title {
  padding: 1%;
  font-size: 150%;
}

.Img_box {
  padding: 3%;
}

.video_box {
  padding: 3%;
}

.flex_box {
  padding: 2%;
  border-style: solid;
  margin: 2%;
  border-radius: 5px;
}
