.flex_box {
  margin: 2%;
  border-radius: 5px;
  text-align: center;
}

.flex_box_job {
  font-size: 80%;
  font-weight: 400;
}

.icon {
  font-size: 20px;
  color: lightgray;
  text-decoration: none;
  background-color: none;
  display: inline;
  padding: 2%;
  font-size: 120%;
}
